@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --body-background: lightgrey;
    --node-body: #777777;
    --node-body-hover: #666666;
    --node-text: white;
    --connector-fill: #74D18E;
    --connector-empty: lightgrey;
    --connector-edge: #555555;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    background: var(--body-background);
}

.content {
    min-height: 100%;
}

.node-body {
    stroke: var(--connector-edge);
    stroke-width: 5px;
    fill: var(--node-body);
    rx: 8;
}

    .node-body:hover {
        cursor: pointer;
        fill: var(--node-body-hover);
    }

.in-connect, .out-connect {
    stroke: var(--connector-edge);
    stroke-width: 5px;
    fill: var(--connector-empty);
}

.wire {
    stroke: var(--connector-fill);
    stroke-width: 8px;
    pointer-events: none;
    stroke-linecap: round;
}